{# src/Jobmanager/AdminBundle/Resources/views/Fonecall/view.html.twig #}

{% extends "JobmanagerAdminBundle::layout.html.twig" %}

{% block title %}
    Voir un entretien tel. - {{ parent() }}
{% endblock %}

{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>home</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="/"><i class="fa fa-dashboard"></i> Home</a>
                </li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-6">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">Description de l'entretien tel.</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <h1>{{ fonecall.dateBegin|date('Y-m-d') }}</h1>
                            <h2>Infos</h2>
                            <p>
                                Begin :
                                {% if fonecall.dateBegin %}
                                    {{ fonecall.dateBegin|date('Y-m-d H:i') }}
                                {% endif %}
                            </p>
                            <p>
                                End :
                                {% if fonecall.dateEnd %}
                                    {{ fonecall.dateEnd|date('Y-m-d H:i') }}
                                {% endif %}
                            </p>
                            <p>Description : {{ fonecall.description }}</p>
                            <p>Inbound : {{ fonecall.isInbound }}</p>
                            <p>Source : {{ fonecall.jobSource }}</p>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>

            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->


{% endblock %}