{% extends '::admin.html.twig' %}

{% block nav %}
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="active">
                    <a href="/app_dev.php">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Jobs</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('admin_job_index') }}"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="{{ path('admin_job_create') }}"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Companies</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('admin_company_index') }}"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="{{ path('admin_company_create') }}"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Recruiters</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('admin_recruiter_index') }}"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="{{ path('admin_recruiter_create') }}"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Candidate</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('admin_candidate_index') }}"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="{{ path('admin_candidate_create') }}"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Compentences</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('admin_competence_index') }}"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="{{ path('admin_competence_create') }}"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Languages</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('admin_language_index') }}"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="{{ path('admin_language_create') }}"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Diplomas</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('admin_diploma_index') }}"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="{{ path('admin_diploma_create') }}"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Formations</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('admin_formation_index') }}"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="{{ path('admin_formation_create') }}"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Job experiences</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>

                

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>CVs</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Motivations</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> View</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Create</a></li>
                    </ul>
                </li>



            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
{% endblock %}

{% block content %}

{% endblock %}

{% block javascript %}

    <!-- jQuery 2.0.2 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    {% javascripts output='js/main.js' filter='cssrewrite, ?yui_js'
    '@JobmanagerAdminBundle/Resources/public/js/jquery-ui-1.10.3.min.js'
    '@JobmanagerAdminBundle/Resources/public/js/bootstrap.min.js'
    '@JobmanagerAdminBundle/Resources/public/js/plugins/iCheck/icheck.min.js'
    '@JobmanagerAdminBundle/Resources/public/js/plugins/datatables/jquery.dataTables.js'
    '@JobmanagerAdminBundle/Resources/public/js/plugins/datatables/dataTables.bootstrap.js'
    '@JobmanagerAdminBundle/Resources/public/js/AdminLTE/app.js'
    '@JobmanagerAdminBundle/Resources/public/js/AdminLTE/dashboard.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}
