{% extends 'JobmanagerAdminBundle::layout.html.twig' %}

{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>home</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="/"><i class="fa fa-dashboard"></i> Contact</a>
                </li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Contact list</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Gender</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Tel</th>
                                    <th>Email</th>
                                    <th>View</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for recruiter in recruiters %}
                                    <tr>
                                        <td>{{ recruiter.id }}</td>
                                        <td>{{ recruiter.gender }}</td>
                                        <td>{{ recruiter.firstname }}</td>
                                        <td>{{ recruiter.lastname }}</td>
                                        <td>{{ recruiter.tel }}</td>
                                        <td>{{ recruiter.email }}</td>
                                        <td>
                                            <a href="{{ path('admin_recruiter_view', {'id': recruiter.id}) }}">View</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_recruiter_edit', {'id': recruiter.id}) }}">Edit</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_recruiter_delete', {'id': recruiter.id}) }}">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
{% endblock %}
{% block javascript %}

    {% javascripts output='js/main.js' filter='cssrewrite, ?yui_js'
    '@JobmanagerAdminBundle/Resources/public/js/AdminLTE/dashboard.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}