{% extends 'JobmanagerAdminBundle::layout.html.twig' %}

{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>home</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="/"><i class="fa fa-dashboard"></i> Home</a>
                </li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Remixjobs Symfony 2 jobs</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID Remixjobs</th>
                                    <th>Date</th>
                                    <th>Nom</th>
                                    <th>Contrat</th>
                                    <th>Entreprise</th>
                                    <th>Adresse</th>
                                    <th>CP</th>
                                    <th>Ville</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Importer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for job in jobs %}
                                    <tr>
                                        <td>{{ job.remixjobsId }}</td>
                                        <td>{{ job.createdDate|date('d/m/Y') }}</td>
                                        <td>{{ job.name }}</td>
                                        <td>{{ job.contractType }}</td>
                                        <td>{{ job.company.name }}</td>
                                        <td>{{ job.company.address }}</td>
                                        <td>{{ job.company.zip }}</td>
                                        <td>{{ job.company.city }}</td>
                                        <td>
                                            {% if job.company.recruiter %}
                                                {{ job.company.recruiter.firstName }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if job.company.recruiter %}
                                                {{ job.company.recruiter.lastName }}
                                            {% endif %}
                                            </td>
                                        <td>
                                            <a href="">Importer</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
{% endblock %}