{# src/Jobmanager/AdminBundle/Resources/views/Admin/view.html.twig #}

{% extends "JobmanagerAdminBundle::layout.html.twig" %}

{% block title %}
    Voir un poste - {{ parent() }}
{% endblock %}

{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>home</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="/"><i class="fa fa-dashboard"></i> Home</a>
                </li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-6">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">Description du poste</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">

                            <h1>
                                {% if job.name %}
                                    {{ job.name }}
                                {% endif %}
                            </h1>
                            <span>{{ job.contractType }}</span>
                            <h2>
                                {% if job.company %}
                                    {% if job.company.name %}
                                        {{ job.company.name }}
                                    {% endif %}
                                {% endif %}
                            </h2>
                            <h3>Adresse</h3>
                            <p>{{ job.company.address }}</p>
                            <p>{{ job.company.zip }} - {{ job.company.city }}</p>
                            <p>{{ job.company.country }}</p>
                            <p>{{ job.company.lat }} - {{ job.company.lng }}</p>
                            <h3>Infos</h3>
                            <p>Site web : {{ job.company.urlCompany }}</p>
                            <p>Source : {{ job.urlJob }}</p>
                            <p>ID Remixjobs : {{ job.remixjobsId }}</p>
                            <h3>Annonce</h3>
                            <p>{{ job.postingJob }}</p>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>

            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->


{% endblock %}