{# src/Jobmanager/AdminBundle/Resources/views/Admin/add-company.html.twig #}

{% extends "JobmanagerAdminBundle::layout.html.twig" %}

{% block title %}
Supprimer une entreprise - {{ parent() }}
{% endblock %}

{% block content %}
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>home</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <a href="/"><i class="fa fa-dashboard"></i> Home</a>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Supprimer une entreprise</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <p>Etes vous certain de vouloir supprimer l'entreprise "{{ company.name }}" ?</p>

                        <form action="{{ path('admin_company_delete', {'id': company.id}) }}" method="post">
                            <a href="{{ path('admin_company_view', {'id': company.id}) }}" class="btn">
                                <i class="icon-chevron-left"></i>
                                Retour à l'article
                            </a>
                            <input type="submit" value="Supprimer" class="btn btn-danger"/>
                            {{ form_rest(form) }}
                        </form>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>


        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->


{% endblock %}